examples/multi-schema-project/schema/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="common-types.xsd"/>
  <xs:include schemaLocation="line-items.xsd"/>

  <xs:element name="invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="billingTo" type="NonEmptyString"/>
        <xs:element name="date" type="xs:date"/>
        <xs:element name="currency" type="CurrencyCode"/>
        <xs:element name="items" type="LineItems"/>
        <xs:element name="total" type="PositiveMoney"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
