examples/multi-schema-project/schema/line-items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="LineItems">
    <xs:sequence>
      <xs:element name="item" type="LineItem" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element name="description" type="NonEmptyString"/>
      <xs:element name="quantity" type="PositiveQuantity"/>
      <xs:element name="unitPrice" type="PositiveMoney"/>
    </xs:sequence>
    <xs:attribute name="sku" type="SkuCode" use="required"/>
  </xs:complexType>

  <xs:simpleType name="PositiveQuantity">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SkuCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}-[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
