tests/fixtures/main.xsd

<?xml version='1.0'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:include schemaLocation='types.xsd'/>
  <xs:element name='person'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='name'  type='xs:string'/>
        <xs:element name='age'   type='AgeType'/>
        <xs:element name='email' type='EmailType' minOccurs='0'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
